.wrapper {
  display: grid;
  grid-template-columns: repeat(1fr, minmax(400px, 1fr));
  justify-content: center;
  gap: 2em;
  margin: 0 auto;
}

.title {
  margin-top: 1em;
  color: var(--dark-blue);
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
.description {
  color: var(--dark-blue);
  font-size: 1.2em;
  padding: 0.5em;
  width: 80%;
  margin: 0 auto;
}
.card {
  display: flex;
  justify-content: center;
  text-align: center;
}
