.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

.title {
  margin-top: -0.5em;
  color: var(--dark-blue);
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto;
}
.description {
  color: var(--dark-blue);
  font-size: 1.3em;
  font-weight: 500;
  padding: 0.5em;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  max-width: 800px;
}
