.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 1em auto;
  justify-content: space-around;
  gap: 2em;
  max-width: 1300px;
}

.flipped {
  transform: rotateY(180deg);
}

.areaCard {
  display: flex;
  height: 400px;
}
