.mainImageContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.mainImage {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 120vh;
  will-change: transform;
}
