.card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  align-items: center;
  padding: 1em;
  width: 400px;
  border-radius: 1em;
  background-color: var(--offWhite);
  height: 330px;
  transition: all 0.4s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.414);
}
.title {
  font-size: 1.5em;
  margin-top: 1em;
  font-weight: 800;
  padding: 0 0.2em;
}
.content {
  font-size: 1.2em;
  line-height: 200%;
  font-weight: 600;
  padding: 0 1em;
}
