.card {
  text-align: center;
  align-items: center;
  padding: 1em;
  width: 400px;
  border: 1px solid var(--dark-blue);
  border-radius: 1em;
  background-color: var(--offWhite);
  height: 450px;
}
