.card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  align-items: center;
  padding: 1em;
  width: 400px;
  border: 1px solid var(--dark-blue);
  border-radius: 1em;
  background-color: var(--offWhite);
  height: 450px;
}
.title {
  font-size: 1.5em;
  margin-top: 1em;
  font-weight: 800;
  padding: 0 0.2em;
}
.content {
  font-size: 1.2em;
  line-height: 200%;
  font-weight: 600;
  padding: 0 1em;
}
