.cardWrapper {
  perspective: 1000px;
}

.card {
  position: relative;
  width: 400px;
  height: 330px;
  border-radius: 1em;
  background-color: var(--offWhite);
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back {
  transform: rotateY(180deg);
}

.title {
  font-size: 1.5em;
  margin-top: 1em;
  font-weight: 800;
  padding: 0 0.2em;
}
.content {
  font-size: 1.2em;
  line-height: 200%;
  font-weight: 600;
  padding: 0 1em;
}
.cardWrapper {
  transition: transform 0.3s ease;
}

.cardWrapper:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.414);
}
