@import "tailwindcss";

* {
  color: var(--dark-blue);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #1a2f4d;
  --offWhite: #e7e2de;
}

html {
  overflow-y: scroll;
}
