.heading {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 18vh;
  background: var(--dark-blue);
  align-items: center;
  padding: 0 2em;
}
.logo {
  width: 200px;
  height: 150px;
  margin-top: 0.5em;
}
.navBar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 1em;
}

.link {
  color: var(--offWhite);
  text-decoration: underline solid transparent;
  text-underline-offset: 5px;
}

.isActive {
  text-decoration: underline solid var(--offWhite);
}
