.heading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 18vh;
  background: rgba(15, 7, 75, 0.6); /* translúcido */
  backdrop-filter: blur(8px); /* opcional */
  align-items: center;
  padding: 0 2em;
  transition: background 0.3s ease, backdrop-filter 0.3s ease,
    box-shadow 0.3s ease;
}

.solid {
  background: var(--dark-blue); /* cor sólida */
  backdrop-filter: none; /* remove blur opcional */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* opcional */
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5em;
  max-width: 1600px;
}

.logo {
  width: 250px;
  height: 200px;
  margin-top: -0.5em;
}

.navBar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 1em;
}

.link {
  color: var(--offWhite);
  text-decoration: underline solid transparent;
  text-underline-offset: 5px;
  font-size: 1.2em;
  margin-top: -1.5em;
}

.isActive {
  text-decoration: underline solid var(--offWhite);
}
