.footer {
  background-color: var(--dark-blue);
  margin-top: 1em;
  padding: 2em;
}
.logo {
  width: 200px;
  height: 200px;
  mask: url("/assets/logo_azul.png") no-repeat center / contain;
  -webkit-mask: url("/assets/logo_azul.png") no-repeat center / contain;
  background: var(--offWhite);
}
